* { 
    /* (*) is called the universal selector */ 
    box-sizing: border-box;
}

body {
    Background-color: bisque;
}

.h1-text .h2 text .h3-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.h2-text {
    color: rgb(152, 52, 32);
}

p, li, th, td {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
    /* border: 2px solid black;  */
    background-color: rgb(255, 255, 255);
    display: flex; 
    flex-direction: column;
    /* align-items: center;  this centers text in divs below prep time */
    margin-left: auto;
    margin-right: auto;
    width: 80%; /*this should be 45% */ 
    margin-top: 5%;   
    margin-bottom: 15%;
    border-radius: 25px;
    padding: 20px 20px 20px 20px;
}

@media screen and (max-width: 650px) {
    body {
        background-color: rgb(177, 178, 177);
     }
    .main-container {
        width: 100%;
        margin-top: 1%; 
     }

}

.menu-header-image {
    /* border: 2px solid rgb(4, 4, 4); */
    display: block;
    position: sticky;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height:fit-content;  
    max-height: 400px;
    border-radius: 20px;
}

.prep-time-bulletpoints {
    display: block; /* Does nothing */ 
    border: 2px solid gray;
    background-color: rgb(250, 248, 248);
    border-radius: 25px;
    padding: 4px 20px 10px 20px;
    margin-left: 10px;
    margin-right: 10px; 
}

.line {
    border-top: 2px solid rgb(236, 232, 232);
    width: 50%;
    margin-bottom: 15px;
}

.directions {
    padding-bottom: 10px; /* -- Why does this list need this and other ul's do not? -- */ 
}

.nutritional-table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 15px;
}

th {
    padding-left: 80px;
}

tr {
    border-bottom: 1px solid black;
}

tr:last-child {
    border-bottom: none;
}



